#!/bin/bash

if [ ! -e ".env" ]; then
  echo ".env file does not exist. Creating it..."

  SESSION_OUTPUT=$(aws secretsmanager get-secret-value --secret-id terraform --query SecretString --output text)

  AWS_ACCESS_KEY_ID=$(echo "$SESSION_OUTPUT" | jq -r '.access_key')
  AWS_SECRET_ACCESS_KEY=$(echo "$SESSION_OUTPUT" | jq -r '.secret_key')
  AWS_DEFAULT_REGION=$(echo "$SESSION_OUTPUT" | jq -r '.region')

  cat <<EOF > .env
AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
EOF
fi

dotenv .env
